# -----------------------
# Node / Frontend
# -----------------------
node_modules/
.pnp/
.pnp.js
coverage/
build/
.vercel

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------
# Python / Backend
# -----------------------
venv/
__pycache__/
*.pyc
*.pyo

instance/
uploads/
*.db
layak.db
scholarship.db

# -----------------------
# Environment files
# -----------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# -----------------------
# Misc
# -----------------------
.DS_Store